#!/bin/bash

# Configuration
# .vimrc: {{ include "dot_vimrc" | sha256sum }}

set -o errexit
set -o nounset
set -o pipefail

vim -u NONE -c 'source .vimrc' -c PluginInstall -c PluginUpdate -c PluginClean! -c qall
