#!/bin/bash

set -o errexit
set -o nounset
set -o pipefail

{{ if lookPath "snap" -}}
{{ $username := .chezmoi.username -}}
{{
  $snaps := list
    "aws-cli"
    "slack"
    "yq"
-}}

{{ range $snaps -}}
{{ if ne $username "root" -}}sudo {{ end -}}
snap install {{ . }}
{{ end -}}
{{ end -}}
