#!/bin/bash

# Configuration
# .vimrc: {{ include "exact_dot_vim/vimrc" | sha256sum }}

set -o errexit
set -o nounset
set -o pipefail

vim -e -s -u NONE -S .vimrc -c PlugInstall -c PlugUpdate -c PlugClean! -c qall
