#!/bin/bash

set -o errexit
set -o nounset
set -o pipefail

{{ include "shell/environment/path.sh" -}}

{{
  $plugins := list
    "asap"
    "atlops"
    "chaos"
    "cloudtoken"
    "dac"
    "micros"
    "nebulae"
    "packages"
    "perfhammer"
    "poco"
    "rollcall"
    "shipyard"
    "slauth"
    "spin"
    "statlas"
-}}

{{ range $plugin := $plugins | sortAlpha -}}
atlas plugin install --name {{ $plugin }}
{{ end -}}
