#!/bin/bash

set -o errexit
set -o nounset
set -o pipefail

source {{ joinPath .chezmoi.sourceDir "src/snap.bash" }}

{{ if lookPath "snap" -}}
{{
  $snaps := list
    "aws-cli"
    "httpie"
    "shellcheck"
    "slack"
    "yq"
-}}

{{ range $snaps -}}
install_snap {{ . }}
{{ end -}}
{{ end -}}
