#!/bin/bash

set -o errexit
set -o nounset
set -o pipefail

{{ include "shell/environment/path.sh" -}}

{{
  $extensions := list
    "nightthemeswitcher@romainvigier.fr"
-}}

{{- range $extensions }}
gnome-extensions-cli install {{ . }}
{{- end }}
