#!/bin/bash

set -o errexit
set -o nounset
set -o pipefail
{{ if .work }}

{{
  $extensions := list
-}}
{{ if .work -}}
{{
  $extensions = concat $extensions (list
    "github.com/github/gh-es"
  )
-}}
{{ end -}}

{{ range $extensions -}}
gh extension install {{ . }}
{{ end -}}
{{ end -}}
