#!/bin/bash

set -o errexit
set -o nounset
set -o pipefail

# Configuration
# ~/.config/mise/config.toml: {{ include "dot_config/exact_mise/config.toml" | sha256sum }}
{{- if .work }}
# ~/.config/mise/conf.d/work.toml: {{ include "dot_config/exact_mise/exact_conf.d/work.toml" | sha256sum }}
{{- end }}

mise install --yes
mise prune --yes
