#!{{ if ne .chezmoi.username "root" -}} {{ lookPath "sudo" }} {{ end -}} {{ lookPath "bash" }}

set -o errexit
set -o nounset
set -o pipefail

export NIX_INSTALLER_EXTRA_CONF='trusted-users = {{ .chezmoi.username }}'
export NIX_INSTALLER_NO_CONFIRM=true

{{ .chezmoi.homeDir }}/.local/bin/nix-installer install linux
