#!/bin/bash

set -o errexit
set -o nounset
set -o pipefail

source {{ joinPath .chezmoi.sourceDir "src/snap.bash" }}

{{ if lookPath "snap" -}}
snap "aws-cli" --classic
snap "httpie"
snap "shellcheck"
snap "slack"
snap "yq"
{{ end -}}
