#!{{ if ne .chezmoi.username "root" -}} {{ lookPath "sudo" }} {{ end -}} {{ lookPath "bash" }}

set -o errexit
set -o nounset
set -o pipefail

{{ if eq (lookPath "determinate-nixd") "" -}}
curl --fail --location --silent --show-error https://install.determinate.systems/nix | sh -s -- install \
  --no-confirm \
  --extra-conf 'trusted-users = {{ .chezmoi.username }}'
{{ else -}}
determinate-nixd upgrade --version {{ (gitHubLatestRelease "DeterminateSystems/nix-src").Name | trimPrefix "v" }}
{{ end -}}
