#!{{ if ne .chezmoi.username "root" -}} {{ lookPath "sudo" }} {{ end -}} .local/bin/aptfile

source {{ joinPath .chezmoi.sourceDir "src/aptfile.bash" }}

# Repositories
apt_repository "docker" "https://download.docker.com/linux/ubuntu" "{{ .chezmoi.osRelease.ubuntuCodename }} stable" "{{ .chezmoi.arch }}" "https://download.docker.com/linux/ubuntu/gpg"
apt_repository "hashicorp" "https://apt.releases.hashicorp.com" "{{ .chezmoi.osRelease.ubuntuCodename }} main" "{{ .chezmoi.arch }}" "https://apt.releases.hashicorp.com/gpg"
apt_repository "vscode" "https://packages.microsoft.com/repos/code" "stable main" "amd64,arm64,armhf" "https://packages.microsoft.com/keys/microsoft.asc"

# Development
package "code"
packagelist "docker-ce" "docker-ce-cli"
package "git" "git-crypt"
package "liquidprompt" 
package "openssh-client"
package "terraform"
package "vim"
package "xclip"

# Networking
{{ if .work -}}
packagelist "globalprotect" "resolvconf"
{{- end }}
package "nmap"
package "tcpdump"
package "traceroute"
package "whois"

# Programming
ppa "longsleep/golang-backports"
package "golang-go"

# Utility
package "curl"
package "htop"
package "jq"
package "parallel"
package "rename"
package "retry"
package "wget"
package "yubikey-manager"
