#!/bin/bash

# Configuration
# .vscode/extensions.txt: {{ include "dot_vscode/extensions.txt" | sha256sum }}

set -o errexit
set -o nounset
set -o pipefail

{{ if not .server }}
xargs --max-lines=1 code --force --install-extension < .vscode/extensions.txt
code --list-extensions > .vscode/extensions.txt
{{ end }}
