#!/bin/bash

set -o errexit
set -o nounset
set -o pipefail

{{ if eq .chezmoi.osRelease.idLike "debian" -}}
# Configuration
# .aptfile: {{ include "dot_aptfile.tmpl" | sha256sum }}
{{ if not (eq .chezmoi.username "root") -}}sudo {{ end -}}
.shell/modules/bash-aptfile/bin/aptfile .aptfile
{{ end -}}
