#!/bin/bash

# Configuration
# .venv/requirements.in: {{ include "dot_venv/requirements.in" | sha256sum }}

set -o errexit
set -o nounset
set -o pipefail

{{ include "shell/environment/asdf.sh" -}}
{{ include "shell/environment/virtualenv.sh" -}}

# See danhper/asdf-python#127.
asdf exec python3 -m ensurepip

test -d .venv/bin || python3 -m venv .venv
command -v pip-sync &>/dev/null || pip install pip-tools
pip-compile --annotation-style line --upgrade --output-file .venv/requirements.txt --strip-extras --no-emit-index-url .venv/requirements.in
pip-sync --quiet --pip-args '--disable-pip-version-check' .venv/requirements.txt
