#!{{ if ne .chezmoi.username "root" -}} {{ lookPath "sudo" }} {{ end -}} .local/bin/aptfile
# shellcheck shell=bash

source {{ joinPath .chezmoi.sourceDir "src/aptfile.bash" }}

# Repositories
{{ if .work -}}
apt_repository "1password" "https://downloads.1password.com/{{ .chezmoi.os }}/{{ .chezmoi.osRelease.idLike }}/{{ .chezmoi.arch }}" "stable main" "{{ .chezmoi.arch }}" "https://downloads.1password.com/linux/keys/1password.asc"
{{ end -}}
apt_repository "docker" "https://download.docker.com/linux/ubuntu" "{{ .chezmoi.osRelease.ubuntuCodename }} stable" "{{ .chezmoi.arch }}" "https://download.docker.com/linux/ubuntu/gpg"
{{ if .personal -}}
apt_repository "dropbox" "https://linux.dropbox.com/ubuntu" "{{ .chezmoi.osRelease.ubuntuCodename }} main" "" "https://linux.dropbox.com/fedora/rpm-public-key.asc"
{{ end -}}
apt_repository "github_cli" "https://cli.github.com/packages" "stable main" "" "https://cli.github.com/packages/githubcli-archive-keyring.gpg"
apt_repository "hashicorp" "https://apt.releases.hashicorp.com" "{{ .chezmoi.osRelease.ubuntuCodename }} main" "{{ .chezmoi.arch }}" "https://apt.releases.hashicorp.com/gpg"
apt_repository "helm" "https://baltocdn.com/helm/stable/debian/" "all main" "" "https://baltocdn.com/helm/signing.asc"
{{ if .work -}}
apt_repository "jfrog" "https://releases.jfrog.io/artifactory/jfrog-debs" "focal contrib" "" "https://releases.jfrog.io/artifactory/jfrog-gpg-public/jfrog_public_gpg.key"
{{- end }}
apt_repository "kubernetes" "https://pkgs.k8s.io/core:/stable:/v1.29/deb/" "/" "" "https://pkgs.k8s.io/core:/stable:/v1.29/deb/Release.key"
apt_repository "speedtest" "https://packagecloud.io/ookla/speedtest-cli/ubuntu" "jammy main" "" "https://packagecloud.io/ookla/speedtest-cli/gpgkey"
{{ if .work -}}
apt_repository "teleport" "https://apt.releases.teleport.dev/ubuntu" "{{ .chezmoi.osRelease.ubuntuCodename }} stable/v14" "" "https://apt.releases.teleport.dev/gpg"
{{- end }}
apt_repository "vscode" "https://packages.microsoft.com/repos/code" "stable main" "amd64,arm64,armhf" "https://packages.microsoft.com/keys/microsoft.asc"

# Development
package "code"
packagelist "docker-ce" "docker-ce-cli"
package "gh"
packagelist "git" "git-crypt" "git-lfs"
package "helm"
{{ if .work -}}
package "jfrog-cli-v2"
{{- end }}
package "kubectl"
package "openssh-client"
packagelist "packer" "terraform"
{{ if .personal -}}
package "rpi-imager"
{{- end }}
package "tmux"
package "vim"
package "xclip"

# Hardware / Kernel
package "linux-generic-hwe-{{ .chezmoi.osRelease.versionID }}"
{{ if and (eq (output "cat" "/sys/devices/virtual/dmi/id/sys_vendor" | trim) "Dell Inc.") (eq (output "cat" "/sys/devices/virtual/dmi/id/product_name" | trim) "Precision 5680") -}}
# Hardware
# See https://wiki.ubuntu.com/IntelMIPICamera.
ppa "oem-solutions-group/intel-ipu6"
packagelist "linux-oem-{{ .chezmoi.osRelease.versionID }}" "linux-modules-ipu6-oem-{{ .chezmoi.osRelease.versionID }}"
packagelist "gstreamer1.0-icamera" "v4l-utils" "v4l2-relayd" "v4l2loopback-dkms"

{{ end -}}

# Networking
package "nmap"
package "speedtest-cli"
package "tcpdump"
{{ if .work -}}
package "teleport"
{{- end }}
package "traceroute"
package "whois"

# Programming
package "golang-go"
packagelist "python3" "python3-argcomplete" "python3-virtualenv" "pipx"

# Utility
{{ if .work -}}
package "1password"
{{- end }}
package "bat"
package "curl"
{{ if .personal -}}
package "dropbox"
{{ end -}}
package "fd-find"
package "fzf"
package_from_url "google-chrome-stable" "https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb"
packagelist "gnome-shell-extensions" "gnome-tweaks"
package "htop"
package "jq"
package "meld"
package "parallel"
{{ if .work -}}
packagelist "remmina" "remmina-plugin-vnc"
{{- end }}
package "rename"
package "retry"
package "tree"
{{ if .personal -}}
package "vlc"
{{- end }}
package "wget"
packagelist "yubikey-manager" "yubikey-manager-qt" "pamu2fcfg"
