#!/bin/bash

set -o errexit
set -o nounset
set -o pipefail

{{ if not .server -}}
{{
  $extensions := list
    "noannoyance@daase.net"
-}}

source .shell/environment/virtualenv.sh

{{ range $extensions -}}
gnome-extensions-cli install {{ . }}
{{ end -}}

{{ end -}}
