#!/bin/bash

set -o errexit
set -o nounset
set -o pipefail

{{ include "shell/environment/asdf.sh" -}}

function asdf_plugin() {
  asdf plugin list | grep --quiet "^${1}$" && return
  asdf plugin add "${1}"
}

# Install plugins.
asdf_plugin golang
asdf_plugin hadolint
asdf_plugin nodejs
asdf_plugin python
asdf_plugin shellcheck
asdf_plugin shfmt

# Install tool versions.
asdf install
