#!/bin/bash

set -o errexit
set -o nounset
set -o pipefail

# chezmoi-cache-clean.service: {{ include "dot_config/systemd/user/chezmoi-cache-clean.service" | sha256sum }}
# chezmoi-cache-clean.timer: {{ include "dot_config/systemd/user/chezmoi-cache-clean.timer" | sha256sum }}

systemctl --user daemon-reload
systemctl --user enable chezmoi-cache-clean.timer
