#!/bin/bash

{{ if eq .chezmoi.osRelease.idLike "debian" -}}
# Configuration
# .aptfile: {{ include "dot_aptfile.tmpl" | sha256sum }}
{{ if ne .chezmoi.username "root" -}}sudo {{ end -}}
.local/bin/aptfile .aptfile
{{ end -}}
