#!/bin/bash

set -o errexit
set -o nounset
set -o pipefail

{{ include "shell/environment/_path.sh" -}}

# Configuration
# ~/.config/mise/config.toml: {{ include "dot_config/exact_mise/config.toml" | sha256sum }}
{{- $destDir := .chezmoi.destDir -}}
{{ range $file := glob (joinPath $destDir ".config/mise/conf.d/*.toml") }}
# {{ replace (print $destDir "/") "" $file }}: {{ include $file | sha256sum }}
{{- end }}

mise install --yes
mise prune --yes
