#!/bin/bash
# shellcheck shell=bash

set -o errexit
set -o nounset
set -o pipefail

{{ $sourceDir := .chezmoi.sourceDir -}}
{{ range $file := glob (joinPath $sourceDir "ansible/*.{cfg,yaml}") -}}
# {{ trimPrefix (print $sourceDir "/") $file }}: {{ include $file | sha256sum }}
{{ end }}
ANSIBLE_ARGS=()

if [[ ${EUID} -ne 0 ]]; then
  ANSIBLE_ARGS+=(--ask-become-pass)
fi

if ! command -v ansible-playbook >/dev/null; then
  {{ if ne .chezmoi.username "root" -}} sudo {{ end -}} apt-get install --no-install-recommends --yes ansible python3-psutil
fi

export ANSIBLE_CONFIG={{ joinPath $sourceDir "ansible/ansible.cfg" }}
ansible-playbook "${ANSIBLE_ARGS[@]}" {{ joinPath $sourceDir "ansible/site.yaml" }}
