#!/bin/bash

set -o errexit
set -o nounset
set -o pipefail

{{ include "shell/environment/_path.sh" -}}

{{
  $extensions := list
    "nightthemeswitcher@romainvigier.fr"
-}}

{{ if not (env "CI") -}}
{{- range $extensions }}
gnome-extensions-cli install {{ . }}
{{- end }}
{{ end -}}
