#!/bin/bash

set -o errexit
set -o nounset
set -o pipefail

source {{ joinPath .chezmoi.sourceDir "src/snap.bash" }}

{{ if lookPath "snap" -}}
install_snap "aws-cli"
install_snap "httpie"
install_snap "shellcheck"
install_snap "slack"
install_snap "yq"
{{ end -}}
