#!/bin/bash

set -o errexit
set -o nounset
set -o pipefail

{{
  $extensions := list
    "noannoyance@daase.net"
-}}

{{ include "shell/environment/virtualenv.sh" -}}

{{ range $extensions -}}
gnome-extensions-cli install {{ . }}
{{ end -}}
