#!/bin/bash

set -o errexit
set -o nounset
set -o pipefail

source .shell/environment/asdf.sh
source .shell/environment/golang.sh

command -v bingo &>/dev/null || go install github.com/bwplotka/bingo@latest
bingo get
