#!/bin/bash

{{ if not .server -}}
{{
  $extensions := list
    "eamodio.gitlens"
    "golang.Go"
    "HashiCorp.terraform"
    "mohsen1.prettify-json"
    "ms-azuretools.vscode-docker"
    "ms-python.python"
    "ms-vscode-remote.remote-containers"
    "ms-vscode-remote.remote-ssh"
    "ms-vscode-remote.remote-ssh-edit"
    "ms-vsliveshare.vsliveshare"
    "redhat.vscode-yaml"
    "VisualStudioExptTeam.vscodeintellicode"
-}}
{{ if .work -}}
{{
  $extensions = concat $extensions (list
    "atlassian.atlascode"
  )
-}}
{{ end -}}

{{ range $extensions -}}
code --force --install-extension {{ . }}
{{ end -}}

{{ end -}}
