#!/bin/bash

set -o errexit
set -o nounset
set -o pipefail

# Configuration
# ~/.asdf: {{ (gitHubLatestRelease "asdf-vm/asdf").Name }}
# ~/.tool-versions: {{ include "dot_tool-versions" | sha256sum }}

{{ include "shell/config/asdf.sh" -}}

function asdf_plugin() {
  if ! asdf plugin list | grep --quiet "^${1}$"; then
    asdf plugin add "${1}"
  else
    asdf plugin update "${1}"
  fi
}

# Update asdf.
asdf update

# Install/update plugins.
asdf_plugin act
asdf_plugin actionlint
asdf_plugin bats
asdf_plugin golang
asdf_plugin hadolint
asdf_plugin nodejs
asdf_plugin python
asdf_plugin shellcheck
asdf_plugin shfmt

# Install tool versions.
asdf install
