# Local
/shell/
/TODO

# Private
/.gnupg/
/.ssh/keys/
/.ssh/known_hosts
/.terraformrc

{{ if .headless -}}
# Desktop
/.chezmoiscripts/99_dconf.sh
/.chezmoiscripts/99_gnome-extensions.sh
/.config/dconf/
/.config/gtk-*/
/.config/mimeapps.list
{{ end -}}

{{ if not .headless -}}
# Dropbox
/.dropbox/
/Dropbox/
/.dropbox-dist/
{{ end -}}

# User
/Desktop/
/Documents/
/Downloads/
/Music/
/Pictures/
/Public/
/Templates/
/Videos/

{{ if not .work -}}
/.chezmoiscripts/50_atlas.sh
/.config/cloudtoken/
/.local/bin/atlas
/.local/bin/cloudtoken
/.zoom/
{{ end -}}

# Other
/.asdf/*
/.bash_history
/.cache/
/go/
/.lesshst
/.mozilla/
/.mypy_cache
/.nmcli-history
/.node/
/.node_repl_history
/snap/
/.terraform.d/
/.tox/
/.wget-hsts
/workspace/

# Vim
/.vim/backup/
/.vim/.netrwhist
/.vim/plugged/
/.vim/swap/
/.vim/undo/
/.vim/viminfo

# Virtualenv
/.venv/bin/
/.venv/include/
/.venv/lib/
/.venv/lib64/
/.venv/pyvenv.cfg
/.venv/requirements.txt
/.venv/share/

# VSCode
/.config/Code/*
!/.config/Code/User
/.config/Code/User/*
!/.config/Code/User/settings.json
