{{ if .work -}}
/.1password/agent.sock
/.GlobalProtect/
{{ end -}}
/.aws/cli/cache/
/.aws/sso/cache/
/.cache/
/.config/chezmoi/
/.config/dconf/
/.config/evolution/
/.config/goa-1.0/
/.config/gtk-3.0/
/.config/gtk-4.0/
/.config/gnome-initial-setup-done
/.config/gnome-session/
/.config/ibus/
/.config/mimeapps.list
/.config/monitors.xml*
/.config/nautilus/
/.config/pulse/
/.config/update-notifier/
/.config/user-dirs.dirs
/.config/user-dirs.locale
/go/
/.local/share/
/.ssh/known_hosts{,.old}
/snap/
/src/
/.terraform.d/
/TODO
/workspace/

# AWS
/.aws/cli/
/.aws/cli/cache/
/.aws/credentials
/.aws/sso/
/.aws/sso/cache/

# Private
/.gnupg/
/.ssh/keys/

# User
/Desktop/
/Documents/
/Downloads/
/Music/
/Pictures/
/Public/
/Templates/
/Videos/

# Vim
/.vim/backup/
/.vim/.netrwhist
/.vim/plugged/
/.vim/swap/
/.vim/undo/
/.vim/view/
/.vim/viminfo

{{ if .work -}}
# Work
/.GlobalProtect/
/GP_HTML/
{{ else }}
/.aws/config
/.chezmoiscripts/anduril.sh
/.local/bin/circleci
/.ssh/conf.d/lattice.conf
/.ssh/conf.d/teleport.conf
/.ssh/conf.d/work.conf
{{ end -}}

# Temporary
{{ if env "CI" -}}
/.chezmoiscripts/gnome-extensions.sh
{{ end -}}
