---
.asdf:
  type: 'git-repo'
  url: 'https://github.com/asdf-vm/asdf.git'

.local/bin/aptfile:
  type: 'file'
  url: '{{ (gitHubLatestRelease "seatgeek/bash-aptfile").TarballURL }}'
  executable: true
  filter:
    command: 'tar'
    args: ['--extract', '--to-stdout', '--file=-', '--gzip', '--wildcards', '*/bin/aptfile']

.local/bin/devcontainerx:
  type: 'archive-file'
  url: '{{ replace "/releases/tag/" "/releases/download/" (gitHubLatestRelease "stuartleeks/devcontainer-cli").HTMLURL }}/devcontainer-cli_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz'
  path: 'devcontainerx'

.local/bin/docker-compose:
  type: 'file'
  url: '{{ replace "/releases/tag/" "/releases/download/" (gitHubLatestRelease "docker/compose-switch").HTMLURL }}/docker-compose-{{ .chezmoi.os }}-{{ .chezmoi.arch }}'
  executable: true

.tmux/plugins/tpm:
  type: 'git-repo'
  url: 'https://github.com/tmux-plugins/tpm.git'

.vim/autoload/plug.vim:
  type: 'file'
  url: '{{ (gitHubLatestRelease "junegunn/vim-plug").TarballURL }}'
  filter:
    command: 'tar'
    args: ['--extract', '--to-stdout', '--file=-', '--gzip', '--wildcards', '*/plug.vim']
