{{- $server := true -}}
{{- $work := false -}}

{{- if eq .chezmoi.username "jspence2" -}}
{{- $server = false -}}
{{- $work = true -}}
{{- end -}}
---
data:
  server: {{ $server | toYaml | trim }}
  work: {{ $work | toYaml | trim }}
interpreters:
  sh:
    command: 'bash'
    args:
      - '-e'
      - '-u'
      - '-o'
      - 'pipefail'
