[submodule "home/vim/bundle/vundle"]
	path = home/vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "modules/git-extras"]
	path = modules/git-extras
	url = git://github.com/visionmedia/git-extras.git
[submodule "modules/hub"]
	path = modules/hub
	url = git://github.com/defunkt/hub.git
