[submodule "home/shell/completion/ruby"]
	path = home/shell/completion/ruby
	url = git://github.com/mernen/completion-ruby.git
	branch = master
[submodule "home/vim/bundle/vundle"]
	path = home/vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
	branch = master
[submodule "modules/git-extras"]
	path = modules/git-extras
	url = git://github.com/visionmedia/git-extras.git
	branch = master
[submodule "modules/phabricator/arcanist"]
	path = modules/phabricator/arcanist
	url = git://github.com/phacility/arcanist.git
	branch = master
[submodule "modules/phabricator/libphutil"]
	path = modules/phabricator/libphutil
	url = git://github.com/phacility/libphutil.git
	branch = master
[submodule "modules/rake-completion"]
    path = modules/rake-completion
    url = https://github.com/ai/rake-completion.git
[submodule "modules/tig"]
	path = modules/tig
	url = git://github.com/jonas/tig.git
	branch = master
[submodule "modules/vimpager"]
	path = modules/vimpager
	url = git://github.com/rkitover/vimpager.git
	branch = master
[submodule "modules/whenever"]
	path = modules/whenever
	url = https://github.com/javan/whenever.git
	branch = master
[submodule "home/rvm"]
	path = home/rvm
	url = https://github.com/rvm/rvm
[submodule "home/nvm"]
	path = home/nvm
	url = https://github.com/creationix/nvm.git
[submodule "home/gvm"]
	path = home/gvm
	url = https://github.com/moovweb/gvm
