# If not running interactively, don't do anything.
# See https://unix.stackexchange.com/a/257613.
if [[ $- != *i* ]]; then
  return
fi

{{- $sourceDir := .chezmoi.sourceDir }}
{{ range $file := glob (joinPath $sourceDir "shell/{config,completion,functions}/*.{bash,sh}") }}
# source={{ replace (print $sourceDir "/") "" $file }}
{{ include $file -}}
{{ end -}}
