#!/usr/bin/env aptfile

source /etc/lsb-release

export DEBIAN_FRONTEND="noninteractive"

# TODO: Create `/etc/apt/auth.conf.d/github.conf` file.

function apt_repository() {
  local -r name="$1"
  local -r apt_repo="$2"
  local -r components="$3"
  local -r architecture="$4"
  local -r gpg_key="$5"

  [[ -z $name ]] && log_fail "Please specify a repository name"
  [[ -z $apt_repo ]] && log_fail "Please specify a repository source URL"
  [[ -z $components ]] && log_fail "Please specify repository components"

  local apt_opts=()
  [[ -n $architecture ]] && apt_opts+=("arch=${architecture}")

  if [[ -n $gpg_key ]]; then
    apt_keyring "${name}" "${gpg_key}"
    apt_opts+=("signed-by=/etc/apt/keyrings/${name}.gpg")
  fi

  repository_file "${name}" "deb [${apt_opts[*]}] ${apt_repo} ${components}"
}

function apt_keyring() {
  local -r name="$1"
  local -r gpg_key="$2"
  local -r gpg_import="${3}"

  [[ -z $name ]] && log_fail "Please specify a keyring name"
  [[ -z $gpg_key ]] && log_fail "Please specify a GPG key"

  local -r apt_keyring_d="/etc/apt/keyrings"
  local -r apt_keyring="${apt_keyring_d}/${name}.gpg"

  if [[ -f $apt_keyring ]]; then
    log_info "${APTFILE_CYAN}[OK]${APTFILE_COLOR_OFF} keyring ${name}"
    return
  fi

  if [[ ! -d $apt_keyring_d ]]; then
    mkdir "${apt_keyring_d}"
  fi

  (wget --quiet --output-document=- "${gpg_key}" | gpg --dearmor --output "${apt_keyring}") >"${TMP_APTFILE_LOGFILE}" 2>&1
  [[ $? -eq 0 ]] || log_fail "${APTFILE_RED}[FAIL]${APTFILE_COLOR_OFF} keyring ${name}"

  if [[ -n $gpg_import ]]; then
    gpg --import "${apt_keyring}" >>"${TMP_APTFILE_LOGFILE}" 2>&1
    [[ $? -eq 0 ]] || log_fail "${APTFILE_RED}[FAIL]${APTFILE_COLOR_OFF} keyring ${name}"
  fi

  log_info "${APTFILE_GREEN}[NEW]${APTFILE_COLOR_OFF} keyring ${name}"
}

function debconf() {
  local -r package="$1"
  local -r question="$2"
  local -r type="$3"
  local -r answer="$4"

  if debconf-get-selections | grep --perl-regexp --quiet "^${package}\t${question}\t${type}\t${answer}$"; then
    log_info "${APTFILE_CYAN}[OK]${APTFILE_COLOR_OFF} debconf ${package} ${question}"
    return
  fi

  echo "${package} ${question} ${type} ${answer}" | debconf-set-selections
  log_info "${APTFILE_GREEN}[NEW]${APTFILE_COLOR_OFF} debconf ${package} ${question}"
}

function deb_repo() {
  local -r name="$1"
  local -r deb_url="$2"
  local -r gpg_key="$3"

  [[ -z $name ]] && log_fail "Please specify a repository name"
  [[ -z $deb_url ]] && log_fail "Please specify a DEB URL"

  local -r apt_conf="/etc/apt/apt.conf.d/50${name}.conf"
  local -r apt_repo="/var/lib/apt/repos/${name}"
  local gpg_cmd="true"

  if [[ -n $gpg_key ]]; then
    apt_keyring "${name}" "${gpg_key}" "true"
    gpg_cmd="dpkg-sig --verify ${apt_repo}/*.deb >/dev/null"
  fi

  if [[ ! -f $apt_conf ]]; then
    mkdir --parents "${apt_repo}"
    cat <<EOF >"${apt_conf}"
APT::Update::Pre-Invoke { "wget --quiet --timestamping --directory-prefix ${apt_repo} ${deb_url}"; };
APT::Update::Pre-Invoke { "${gpg_cmd}"; };
APT::Update::Pre-Invoke { "cd ${apt_repo} && apt-ftparchive packages . > Packages"; };
APT::Update::Pre-Invoke { "cd ${apt_repo} && apt-ftparchive release . > Release"; };
EOF
  fi

  repository_file "${name}" "deb [trusted=yes lang=none] file:${apt_repo} ./"
}

# Dependencies used within `aptfile`.
packagelist "apt-utils" "debconf-utils" "dpkg-sig" "gpg" "jq" "wget"

# Repositories.
apt_repository "azlux" "http://packages.azlux.fr/debian/" "bullseye main" "" "https://azlux.fr/repo.gpg"
deb_repo "chezmoi" "https://github.com/twpayne/chezmoi/releases/download/\$(curl --fail --location --netrc-file /etc/apt/auth.conf.d/github.conf --show-error --silent https://api.github.com/repos/twpayne/chezmoi/releases/latest | jq --raw-output .name)/chezmoi_\$(curl --fail --location --netrc-file /etc/apt/auth.conf.d/github.conf --show-error --silent https://api.github.com/repos/twpayne/chezmoi/releases/latest | jq --raw-output .name | cut --characters=2-)_linux_amd64.deb" ""
apt_repository "curl" "https://ppa.launchpadcontent.net/savoury1/curl34/ubuntu" "${DISTRIB_CODENAME} main" "" "https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x374c7797fb006459"
apt_repository "mainline" "https://ppa.launchpadcontent.net/cappelikan/ppa/ubuntu/" "${DISTRIB_CODENAME} main" "" "https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x3AE27527713D2479DCAFFD58A89D7C1B2F76304D"
apt_repository "speedtest-cli" "https://packagecloud.io/ookla/speedtest-cli/ubuntu/" "focal main" "" "https://packagecloud.io/ookla/speedtest-cli/gpgkey"
apt_repository "yq" "https://ppa.launchpadcontent.net/rmescandon/yq/ubuntu" "${DISTRIB_CODENAME} main" "" "https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x9a2d61f6bb03ced7522b8e7d6657dbe0cc86bb64"
update

packagelist "apt-file" "synaptic"
package "chezmoi"
packagelist "curl" "gnutls-bin" "wget"
package "flatpak"
package "libarchive-tools"
package "lastpass-cli"

# Development
packagelist "bash" "bash-completion"
packagelist "binfmt-support" "qemu-user-static"
package "build-essential"
packagelist "git" "git-crypt" "git-extras" "git-lfs"
package "vim"

# Library Development
package "libbz2-dev"
package "liblzma-dev"
package "libncurses-dev"
package "libreadline-dev"
package "libssl-dev"

# Networking
packagelist "bind9-dnsutils" "netcat-openbsd" "netstat-nat" "whois"
package "dog"
packagelist "iputils-ping" "gping"
packagelist "nmap" "traceroute"
package "speedtest"
packagelist "rsync" "openssh-client"
package "sss"
debconf "wireshark-common" "wireshark-common/install-setuid" "boolean" "true"
package "wireshark-qt"

# Utils
package "bat"
package_from_url "bottom" "--location https://github.com/ClementTsang/bottom/releases/download/0.6.8/bottom_0.6.8_amd64.deb"
package "ctop" "htop" "iftop" "powerstat"
package "duf"
{{ if ne .chezmoi.osRelease.versionCodename "focal" -}}
package "exa"
{{ end -}}
package "fd-find"
package "fzf"
package "gawk"
package "gpg"
package "less" "moreutils"
package "meshlab"
packagelist "parallel" "retry"
{{ if ne .chezmoi.osRelease.versionCodename "focal" -}}
package "ripgrep"
{{ end -}}
package "tree"
{{ if ne .chezmoi.osRelease.versionCodename "focal" -}}
package "zoxide"
{{- end }}

# Miscellaneous
packagelist "libcairo2-dev" "libgirepository1.0-dev" "python3-gi" # for `pygobject`

flatpak remote-add --if-not-exists "flathub" "https://flathub.org/repo/flathub.flatpakrepo"

{{ if not .headless -}}
apt_repository "libcontainers" "http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/unstable/x${DISTRIB_ID}_${DISTRIB_RELEASE}/" "/" "" "http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/unstable/x${DISTRIB_ID}_${DISTRIB_RELEASE}/Release.key"
apt_repository "docker" "https://download.docker.com/linux/ubuntu" "${DISTRIB_CODENAME} stable" "amd64" "https://download.docker.com/linux/ubuntu/gpg"
apt_repository "dropbox" "https://linux.dropbox.com/ubuntu" "disco main" "i386,amd64" "https://linux.dropbox.com/fedora/rpm-public-key.asc"
apt_repository "hashicorp" "https://apt.releases.hashicorp.com" "${DISTRIB_CODENAME} main" "amd64" "https://apt.releases.hashicorp.com/gpg"
apt_repository "kubernetes" "https://apt.kubernetes.io" "kubernetes-yakkety main" "" "https://packages.cloud.google.com/apt/doc/apt-key.gpg"
deb_repo "minikube" "https://github.com/kubernetes/minikube/releases/download/v1.26.0/minikube_1.26.0-0_amd64.deb" ""
apt_repository "virtualbox" "https://download.virtualbox.org/virtualbox/debian" "${DISTRIB_CODENAME} contrib" "amd64" "https://www.virtualbox.org/download/oracle_vbox_2016.asc"
apt_repository "vscode" "https://packages.microsoft.com/repos/code" "stable main" "amd64,arm64,armhf" "https://packages.microsoft.com/keys/microsoft.asc"

package "code"
packagelist "dconf-cli" "dconf-editor" "libglib2.0-bin"
packagelist "docker-ce" "docker-ce-cli" "docker-compose-plugin"
package "dropbox"
package "gh"
package "gimp"
package_from_url "google-chrome-stable" "https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb"
package "i3"
packagelist "kubectl" "minikube"
package "liquidprompt"
packagelist "network-manager-l2tp" "network-manager-openconnect"
packagelist "packer" "terraform" "vagrant" "virtualbox-7.0"
packagelist "podman" "fuse-overlayfs" "skopeo" "slirp4netns" "uidmap"
package "tmux"
package "xclip"
{{- end }}

{{ if .personal -}}
package "lastpass-cli"
{{- end }}

# Other
package "cmatrix"
package "ghostscript"
package "rename"
{{ if not .headless -}}
packagelist "g810-led" "logiops" "solaar"
package "sox"
package "xdg-utils"
{{ end -}}
