# shellcheck shell=sh

if test -n "${BASH_VERSION}" && test -f ~/.bashrc; then
  . ~/.bashrc
fi

{{ include "shell/helpers.sh" }}

{{- $sourceDir := .chezmoi.sourceDir -}}
{{ range $file := glob (joinPath $sourceDir "shell/environment/*.sh{,.tmpl}") }}
# source={{ replace (print $sourceDir "/") "" $file }}
{{ if hasSuffix ".tmpl" $file -}}
{{ includeTemplate $file $ -}}
{{ else -}}
{{ include $file -}}
{{ end -}}
{{ end -}}
