#!/usr/bin/env aptfile

readonly DEBIAN_FRONTEND="noninteractive"
readonly DISTRO="$(lsb_release --id --short)"
readonly DISTRO_CODENAME="$(lsb_release --codename --short)"
readonly DISTRO_RELEASE="$(lsb_release --release --short)"

export DEBIAN_FRONTEND

function apt_repository() {
  local -r name="$1"
  local -r apt_repo="$2"
  local -r components="$3"
  local -r architecture="$4"
  local -r gpg_key="$5"

  [[ -z $name ]] && log_fail "Please specify a repository name"
  [[ -z $apt_repo ]] && log_fail "Please specify a repository source URL"
  [[ -z $components ]] && log_fail "Please specify repository components"

  local apt_opts=()
  [[ -n $architecture ]] && apt_opts+=("arch=${architecture}")

  if [[ -n $gpg_key ]]; then
    apt_keyring "${name}" "${gpg_key}"
    apt_opts+=("signed-by=/etc/apt/keyrings/${name}.gpg")
  fi

  repository_file "${name}" "deb [${apt_opts[*]}] ${apt_repo} ${components}"
}

function apt_keyring() {
  local -r name="$1"
  local -r gpg_key="$2"
  local -r gpg_import="${3}"

  [[ -z $name ]] && log_fail "Please specify a keyring name"
  [[ -z $gpg_key ]] && log_fail "Please specify a GPG key"

  local -r apt_keyring="/etc/apt/keyrings/${name}.gpg"

  if [[ -f $apt_keyring ]]; then
    log_info "${APTFILE_CYAN}[OK]${APTFILE_COLOR_OFF} keyring ${name}"
    return
  fi

  (wget --quiet --output-document=- "${gpg_key}" | gpg --dearmor --output "${apt_keyring}") > "${TMP_APTFILE_LOGFILE}" 2>&1
  [[ $? -eq 0 ]] || log_fail "${APTFILE_RED}[FAIL]${APTFILE_COLOR_OFF} keyring ${name}"

  if [[ -n $gpg_import ]]; then
    gpg --import "${apt_keyring}" >> "${TMP_APTFILE_LOGFILE}" 2>&1
    [[ $? -eq 0 ]] || log_fail "${APTFILE_RED}[FAIL]${APTFILE_COLOR_OFF} keyring ${name}"
  fi

  log_info "${APTFILE_GREEN}[NEW]${APTFILE_COLOR_OFF} keyring ${name}"
}

function deb_repo() {
  local -r name="$1"
  local -r deb_url="$2"
  local -r gpg_key="$3"

[[ -z $name ]] && log_fail "Please specify a repository name"
  [[ -z $deb_url ]] && log_fail "Please specify a DEB URL"

  local -r apt_conf="/etc/apt/apt.conf.d/50${name}.conf"
  local -r apt_repo="/var/lib/apt/repos/${name}"
  local gpg_cmd="true"

  if [[ -n $gpg_key ]]; then
    apt_keyring "${name}" "${gpg_key}" "true"
    gpg_cmd="dpkg-sig --verify ${apt_repo}/*.deb >/dev/null"
  fi

  if [[ ! -f $apt_conf ]]; then
    mkdir --parents "${apt_repo}"
    cat << EOF > "${apt_conf}"
APT::Update::Pre-Invoke { "wget --quiet --timestamping --directory-prefix ${apt_repo} ${deb_url}"; };
APT::Update::Pre-Invoke { "${gpg_cmd}"; };
APT::Update::Pre-Invoke { "cd ${apt_repo} && apt-ftparchive packages . > Packages"; };
APT::Update::Pre-Invoke { "cd ${apt_repo} && apt-ftparchive release . > Release"; };
EOF
  fi

  repository_file "${name}" "deb [trusted=yes lang=none] file:${apt_repo} ./"
}

apt_repository "azlux" "http://packages.azlux.fr/debian/" "bullseye main" "" "https://azlux.fr/repo.gpg"
deb_repo "chezmoi" "https://github.com/twpayne/chezmoi/releases/download/v2.18.1/chezmoi_2.18.1_linux_amd64.deb" ""
apt_repository "speedtest-cli" "https://packagecloud.io/ookla/speedtest-cli/ubuntu/" "focal main" "" "https://packagecloud.io/ookla/speedtest-cli/gpgkey"

update

packagelist "apt-file" "apt-utils" "dpkg-sig" "synaptic"
package "chezmoi"
packagelist "curl" "wget"
package "flatpak"

# Development
packagelist "binfmt-support" "qemu-user-static"
package "build-essential"
packagelist "git" "git-crypt" "git-extras" "git-lfs"
package "vim"

# Library Development
package "libbz2-dev"
package "liblzma-dev"
package "libncurses-dev"
package "libreadline-dev"
package "libssl-dev"

# Networking
packagelist "bind9-dnsutils" "netcat-openbsd" "netstat-nat" "whois"
package "dog"
packagelist "iputils-ping" "gping"
packagelist "nmap" "traceroute"
package "speedtest"
packagelist "rsync" "openssh-client"
package "sss"

# Utils
package "bat"
package_from_url "bottom" "--location https://github.com/ClementTsang/bottom/releases/download/0.6.8/bottom_0.6.8_amd64.deb"
package "ctop" "htop" "iftop" "powerstat"
package "duf"
package "exa"
package "fd-find"
package "fzf"
package "gawk"
package "gpg"
package "jq"
package "less" "moreutils"
packagelist "parallel" "retry"
package "ripgrep"
package "tree"
package "zoxide"

# Miscellaneous
packagelist "libcairo2-dev" "libgirepository1.0-dev" "python3-gi" # for `pygobject`

flatpak remote-add --if-not-exists "flathub" "https://flathub.org/repo/flathub.flatpakrepo"

{{ if not .server }}
apt_repository "libcontainers" "http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/unstable/x${DISTRO}_${DISTRO_RELEASE}/" "/" "" "http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/unstable/x${DISTRO}_${DISTRO_RELEASE}/Release.key"
apt_repository "docker" "https://download.docker.com/linux/ubuntu" "${DISTRO_CODENAME} stable" "amd64" "https://download.docker.com/linux/ubuntu/gpg"
apt_repository "dropbox" "https://linux.dropbox.com/ubuntu" "disco main" "i386,amd64" "https://linux.dropbox.com/fedora/rpm-public-key.asc"
apt_repository "github-cli" "https://cli.github.com/packages" "stable main" "amd64" "https://cli.github.com/packages/githubcli-archive-keyring.gpg"
apt_repository "hashicorp" "https://apt.releases.hashicorp.com" "${DISTRO_CODENAME} main" "amd64" "https://apt.releases.hashicorp.com/gpg"
apt_repository "kubernetes" "https://apt.kubernetes.io" "kubernetes-xenial main" "" "https://packages.cloud.google.com/apt/doc/apt-key.gpg"
deb_repo "minikube" "https://github.com/kubernetes/minikube/releases/download/v1.26.0/minikube_1.26.0-0_amd64.deb" ""
apt_repository "vscode" "https://packages.microsoft.com/repos/code" "stable main" "amd64,arm64,armhf" "https://packages.microsoft.com/keys/microsoft.asc"

package "code"
packagelist "dconf-cli" "dconf-editor" "libglib2.0-bin"
packagelist "docker-ce" "docker-ce-cli"
package "dropbox"
package "gh"
package "gimp"
package_from_url "google-chrome-stable" "https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb"
packagelist "kubectl" "minikube"
packagelist "network-manager-l2tp" "network-manager-openconnect"
packagelist "packer" "terraform"
packagelist "podman" "fuse-overlayfs" "skopeo" "slirp4netns" "uidmap"
package "terminator"
package "xclip"
{{ end }}

{{ if .work }}
apt_repository "slack" "https://packagecloud.io/slacktechnologies/slack/debian/" "jessie main" "" "https://packagecloud.io/slacktechnologies/slack/gpgkey"
deb_repo "zoom" "https://zoom.us/client/latest/zoom_amd64.deb" "https://zoom.us/linux/download/pubkey"

package "awscli"
package "slack-desktop"
package "zoom"
{{ end }}
