# If not running interactively, don't do anything.
# See https://unix.stackexchange.com/a/257613.
if [[ $- != *i* ]]; then
  return
fi

{{- $base := print .chezmoi.sourceDir "/" }}
{{ range $file := glob (joinPath .chezmoi.sourceDir "shell/{config,completion,functions}/*.{bash,sh}") }}
# source={{ replace $base "" $file }}
{{ include $file -}}
{{ end -}}
