command_exists() {
  command -v "${1}" >/dev/null
}

# See aws/aws-cli#2928.
if command_exists aws; then
  complete -C /snap/aws-cli/current/bin/aws_completer aws
fi

if command_exists kubectl; then
  source <(kubectl completion bash)
fi

if command_exists terraform; then
  complete -C terraform terraform
fi

if command_exists tsh; then
  source <(tsh --completion-script-bash)
fi

{{ completion "bash" }}
