{{- $sourceDir := .chezmoi.sourceDir }}
{{ range $file := glob (joinPath $sourceDir "shell/completion/*.{bash,sh}") }}
# source={{ replace (print $sourceDir "/") "" $file }}
{{ include $file -}}
{{ end -}}
