#!/bin/bash

# Configuration
# .local/share/gnome-shell/extensions.txt: {{ include "dot_local/share/gnome-shell/extensions.txt" | sha256sum }}

set -o errexit
set -o nounset
set -o pipefail

source .shell/environment/virtualenv.sh

xargs --max-lines=1 gnome-extensions-cli install < .local/share/gnome-shell/extensions.txt
