#!/usr/bin/env ruby

#/
## Use {@link https://github.com/javan/whenever whenever} to update crontab.
##
## <code>
## whenever --update-crontab --load-file ~/.crontab
## </code>
##
## @author Joshua Spence
## @file   ~/.crontab
#\

set :output, {:error => 'cron-error.log', :standard => 'cron.log'}

# Self-updating crontab.
every :day, :at => '10:00am' do
    command 'whenever --update-crontab --load-file ${HOME}/.crontab'
end

# Delete pesky .goutputstream-* files.
every :reboot do
	command 'find ~ -name ".goutputstream-[[:alnum:]][[:alnum:]][[:alnum:]][[:alnum:]][[:alnum:]][[:alnum:]]" -delete'
end
