{
  "editor.tabSize": 2,
  "files.autoSave": "afterDelay",
  "files.insertFinalNewline": true,
  "files.trimTrailingWhitespace": true,
  "files.defaultLanguage": "${activeEditorLanguage}",
  "workbench.settings.openDefaultSettings": true,
  "window.closeWhenEmpty": true,
  "window.restoreFullscreen": true,
  "window.newWindowDimensions": "maximized",
  "terminal.integrated.shellIntegration.enabled": true,
  "git.allowForcePush": true,
  "git.autofetch": true,
  "git.autoStash": true,
  "git.confirmSync": false,
  "git.enableSmartCommit": true,
  "git.experimental.mergeEditor": true,
  "git.fetchOnPull": true,
  "git.pruneOnFetch": true,
  "git.rebaseWhenSync": true,
  "markdown.experimental.editor.pasteLinks.enabled": true,
  "markdown.experimental.validate.enabled": true,
  "files.autoSaveDelay": 3000,
  "terminal.integrated.enableMultiLinePasteWarning": false,
  "go.toolsManagement.autoUpdate": true,
  "yaml.schemas": {
    "file://{{ glob (print .chezmoi.homeDir "/.local/share/Code/extensions/atlassian.atlascode-*") | mustFirst }}/resources/schemas/pipelines-schema.json": "bitbucket-pipelines.yml"
  },
  "gitlens.currentLine.enabled": false,
  "editor.codeLens": false,
}
