ansible
ansible-lint
{{ if .personal -}}
cc2538-bsl @ git+https://github.com/JelmerT/cc2538-bsl
esphome
esptool
{{ end -}}
github3.py
gnome-extensions-cli >= 0.11.0
pip-tools >= 7
pipx
pre-commit
python-debian
yamllint

# See https://github.com/jazzband/pip-tools/issues/2379.
pip < 26.1

# Needed by `gnome-extensions-cli`.
pygobject
