ansible
ansible-lint
{{ if .personal -}}
cc2538-bsl @ git+https://github.com/JelmerT/cc2538-bsl
esphome
esptool
{{ end -}}
git+https://github.com/essembeh/gnome-extensions-cli.git@refs/pull/42/head#egg=gnome-extensions-cli
pip-tools >= 7
pipx
pre-commit
yamllint

# Workaround for https://github.com/jazzband/pip-tools/issues/2252.
pip < 25.3

# Needed by `gnome-extensions-cli`.
pygobject
