ansible
ansible-lint
{{ if .personal -}}
cc2538 @ git+https://github.com/JelmerT/cc2538-bsl
esphome
esptool
{{- end }}
gnome-extensions-cli
pip-tools >= 7
pipx
pre-commit
yamllint

# Needed by `gnome-extensions-cli`.
pygobject
