atlassian-bb-cli
git+https://github.com/JelmerT/cc2538-bsl
esphome
esptool
gnome-extensions-cli
gphotos-sync
homeassistant-cli @ git+https://github.com/home-assistant-ecosystem/home-assistant-cli@0.9.5
httpie
pip-tools
pre-commit
yamllint

# See pganssle/zoneinfo#111.
backports.zoneinfo ; python_version < '3.9'

# Needed by `cc2538-bsl`.
intelhex

# Needed by `gnome-extensions-cli`.
pygobject
