# NOTE: This is bundled in the appimage file and can be extracted with `UltiMaker-Cura.AppImage --appimage-extract com.ultimaker.cura.desktop`.
[Desktop Entry]
X-AppImage-Arch=x86_64
X-AppImage-Name=UltiMaker Cura
Name=UltiMaker Cura
Exec=UltiMaker-Cura.AppImage
Icon=cura-icon.png
Type=Application
Terminal=false
Categories=Utility;
Comment=
