[Desktop Entry]
Type=Application
Name=Ultimaker Cura
GenericName=3D Printing Software
Icon=ultimaker-cura.png
TryExec=Ultimaker-Cura
Exec=Ultimaker-Cura %F
Terminal=false
MimeType=model/stl;application/vnd.ms-3mfdocument;text/x-gcode
Categories=Graphics
Keywords=3D;Printing;Slicer
