{
  "$schema": "https://json.schemastore.org/claude-code-settings.json",
  "awsAuthRefresh": "aws sso login --sso-session anduril-govcom",
  "env": {
    "AWS_PROFILE": "claude",
    "AWS_REGION": "ap-southeast-2",
    "CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC": true,
    "CLAUDE_CODE_NEW_INIT": true,
    "CLAUDE_CODE_USE_BEDROCK": true
  },
  "permissions": {
    "allow": [
      "Read(~/workspace)"
    ],
    "deny": [
      "Read(./.env)",
      "Read(./.env.*)"
    ],
    "ask": [],
    "disableBypassPermissionsMode": "disable"
  },
  "hooks": {},
  "model": "opus",
{{- if .work }}
  "extraKnownMarketplaces": {
    "anduril": {
      "source": {
        "source": "git",
        "url": "https://ghe.anduril.dev/anduril/claude-clams.git"
      }
    }
  },
  "skipWebFetchPreflight": true,
{{- end }}
  "sandbox": {
    "enabled": true,
    "network": {
      "allowedDomains": [
        "api.github.com",
        "docs.aws.amazon.com",
        "docs.kernel.org",
        "github.com",
        "raw.githubusercontent.com",
        "*.readthedocs.io",
        "serverfault.com",
        "stackoverflow.com",
        "superuser.com"
      ],
      "allowUnixSockets": [
        "/run/docker.sock",
        "/run/user/1000/keyring/ssh"
      ]
    },
    "excludedCommands": []
  },
  "autoUpdatesChannel": "stable"
}
