{{- $config := dict
  "$schema" "https://json.schemastore.org/claude-code-settings.json"
  "autoMode" (dict
    "environment" (list "$defaults")
    "allow" (list "$defaults")
    "soft_deny" (list "$defaults")
  )
  "editorMode" "default"
  "enabledPlugins" (dict
    "claude-code-setup@claude-plugins-official" true
    "claude-md-management@claude-plugins-official" true
    "code-review@claude-plugins-official" true
    "code-simplifier@claude-plugins-official" true
    "document-skills@anthropic-agent-skills" true
    "explanatory-output-style@claude-plugins-official" true
    "hookify@claude-plugins-official" true
    "ralph-loop@claude-plugins-official" true
    "remember@claude-plugins-official" true
    "skill-creator@claude-plugins-official" true
    "superpowers@claude-plugins-official" true
    "terraform@claude-plugins-official" true
  )
  "env" (dict
    "CLAUDE_CODE_NEW_INIT" "true"
    "DISABLE_UPDATES" true
  )
  "extraKnownMarketplaces" (dict
    "anthropic-agent-skills" (dict
      "source" (dict
        "source" "git"
        "url" "https://github.com/anthropics/skills.git"
      )
    )
  )
  "fastModePerSessionOptIn" true
  "feedbackSurveyRate" 0
  "model" "opusplan"
  "permissions" (dict
    "allow" (list 
      "Bash(jq:*)"
      "Read(~/workspace)"
    )
    "deny" (list 
      "Read(./.env)"
    )
    "ask" (list)
    "defaultMode" "auto"
  )
  "statusLine" (dict
    "type" "command"
    "command" "bash ~/.config/claude/statusline.sh"
  )
  "tui" "fullscreen"
-}}

{{- if .personal -}}
{{- $config = merge $config (dict
  "permissions" (dict
    "allow" (list
      "Read(~/Dropbox/**)"
    )
  )
) -}}
{{- end -}}

{{- if .work -}}
{{- $config = merge $config (dict
  "awsAuthRefresh" "aws sso login --sso-session anduril-govcom"
  "env" (dict
    "AWS_PROFILE" "claude"
    "AWS_REGION" "ap-southeast-2"
    "CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC" "true"
    "CLAUDE_CODE_USE_BEDROCK" "true"
  )
  "extraKnownMarketplaces" (dict
    "anduril" (dict
      "source" (dict
        "source" "git"
        "url" "https://ghe.anduril.dev/anduril/claude-clams.git"
      )
    )
  )
  "skipWebFetchPreflight" true
) -}}
{{- end -}}

{{ $config | toPrettyJson }}
