{{- /* TODO: Use a regular external after twpayne/chezmoi#3724 */ -}}
{{- $version := output "gh" "--repo=ghe.anduril.dev/anduril/latticectl" "release" "view" "--json=name" "--template={{ .name }}" -}}
{{- $version := "v3.155.0" -}}
{{- output "sh" "-c" (printf "gh --repo=ghe.anduril.dev/anduril/latticectl release download --output=- --pattern=%s %s | tar --extract --to-stdout --gunzip latticectl" (printf "latticectl_%s_%s.tar.gz" .chezmoi.os (.chezmoi.arch | replace "amd64" "x86_64")) $version) -}}
