{{- /* TODO: Use a regular external after twpayne/chezmoi#3724 */ -}}
{{- $repo := "ghe.anduril.dev/platform/appctl" -}}
{{- $version := output "gh" "release" (printf "--repo=%s" $repo) "view" "--json=name" "--template={{ .name }}" -}}
{{- $archive := (printf "appctl_%s_%s.tar.gz" .chezmoi.os .chezmoi.arch) -}}
{{- $file := "appctl" -}}
{{- output "sh" "-c" (printf "gh release --repo=%s download --output=- --pattern=%s %s | tar --extract --to-stdout --gunzip %s" $repo $archive $version $file) -}}
